
body{
	
}

.wrapper{
	background-color : white;	
	width : 70%;
	margin-left : 15%;
	
}

.profilePartOne{
	border : 8px solid #1ABC9C;
	width : 100%;
}

.partOneLeft{
	width : 50%;
	/* border : 3px solid red; */
	
}

.partOneRight{
	width : 55%;
	border-left : 3px solid #1ABC9C;
	/* border : 3px solid blue; */
	
}

.tableLeft{
	width : 200px;
	height : 40px;
}

#profileImg{
	height : 380px;	
}

.profilePartTwo{
	border : 8px solid #2C3E50;
}
