<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.readme.mapper.memberDetailMapper">

 
    
    <!-- 추가정보 입력 -->
    <insert id="insertMemberDetail">
    
    	INSERT INTO MEMBERDETAIL 
    	(ID, COMMENT, URL, PORTFOLIO_NAME, PORTFOLIO_PATH, PORTFOLIO_THUMBNAIL_PATH)
    	VALUES
    	( #{id}, #{comment}, #{url}, #{portfolio_name}, #{portfolio_path}, #{portfolio_thumbnail_path}  )  
    
    
    
    
    	
    </insert>
    
    

</mapper>
